.bg {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.color {
    position: absolute;
    filter: blur(100px);
}

.color:nth-child(1) {
    top: -200px;
    left: 20px;
    width: 600px;
    height: 600px;
    background-color: rgb(113, 209, 253);
}

.color:nth-child(2) {
    bottom: -30px;
    right: 20px;
    width: 800px;
    height: 800px;
    background-color: rgba(121, 42, 194, 0.486);
}

.color:nth-child(3) {
    bottom: 20px;
    left: 50px;
    width: 600px;
    height: 600px;
    background-color: rgb(15, 0, 153);
}


.selfie {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.253);
    box-shadow: 0 25px 45px black;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid rgba(151, 151, 151, 0.562);
}

.img {
    border-radius: 10px;
}

@media (min-width:1140px) {
    .container {
        position: relative;
        width: 600px;
    }
}