.container {
    background: radial-gradient(circle at center, rgb(5, 1, 58), rgb(0, 0, 0));
    height: 100%;
}

.checkBox {
    position: absolute;
    right: 3%;
    z-index: 999;
    font-size: large;
    top: 3%;
    color: rgb(253, 253, 253);
    display: flex;
    align-items: center;
}

.navigation {
    position: fixed;
    right: 3%;
    z-index: 999;
    top: 25%;
}

@media (max-width:1140px) {
    .navigation {
        position: fixed;
        width: 100%;
        top: auto;
        left: 0;
        bottom: 0;
    }
}